@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to English Salon</h1>
    <p class="lead">As usual, we will be playing several games throughout the salon.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Agenda 1</h2>
        <p>Word chain</p>
        <p>Each person has five seconds to answer, and the winner gets 50 points if the timeout is wrong</p>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agenda 2</h2>
        <p>Guess words</p>
        <p>Each person stands with their back to the screen. The team members describe the words and get 10 points for guessing correctly in 1 minute</p>
        <p><a class="btn btn-default" href="Index/GuessWords">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agenda 3</h2>
        <p>Each person chooses the questions in turn to answer.</p>
        <p>Answer correctly and score accordingly. Half of the score will be deducted for a wrong answer.Questions greater than 30 points can be asked for help from team members. (If you are lucky, you can meet the Chinese question)</p>
        <p><a class="btn btn-default" href="Index">Go &raquo;</a></p>
    </div>
</div>